<div class = 'hideable'>
  <div class = 'four columns'>
    <div class = 'left-tab'>
      <div class = 'top-container'>
        <div class = 'side-bar'>
          <%= link_to 'About Tom', root_path %>
        </div>
        <hr/>
        <div class = 'side-bar'>
          <%= link_to 'Blog Posts', blog_index_path %>
        </div>
        <hr/>
        <div class = 'side-bar'>
          <div class = 'icon-spacer'>
            <%= link_to '<i class="icon-github icon-2x"></i>'.html_safe , "https://github.com/tomdepplito" %>
          </div>
          <div class = 'icon-spacer'>
            <%= link_to '<i class="icon-stackexchange icon-2x"></i>'.html_safe , "http://stackoverflow.com/users/1526117/tomdepplito" %>
          </div>
          <div class = 'icon-spacer'>
            <%= link_to '<i class="icon-linkedin-sign icon-2x"></i>'.html_safe , "http://www.linkedin.com/in/tomdepplito" %>
          </div>
          <div class = 'icon-spacer'>
            <%= link_to '<i class="icon-twitter icon-2x"></i>'.html_safe , "https://twitter.com/tomdepplito" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
