<div class = 'hideable'>
  <div class = 'four columns'>
    <div class = 'left-tab'>
      <div class = 'top-container'>
        <span class = 'center'>
          <span id = 'home'>
            <div class = 'profile'>
              <div class = 'home'>Tom Depplito</div>
              <div class = 'home'><%= link_to image_tag("profile.jpg"), root_path %></div>
              <div class = 'bio'>
              </div>
            </div>
          </span>
        </span>
        <span class = 'center'>
          <p><%= link_to image_tag('github.png'), "https://github.com/tomdepplito" %></p>
        </span>
        <span class = 'center'>
          <p><%= link_to image_tag('linkedin.png'), "http://www.linkedin.com/in/tomdepplito" %></p>
        </span>
        <span class = 'center'>
          <p><%= link_to image_tag('twitter_bird.png'), "https://twitter.com/tomdepplito" %></p>
        </span>
        <span class = 'center'>
          <p><%= link_to image_tag('stackoverflow.png'), "http://stackoverflow.com/users/1526117/tomdepplito" %></p>
        </span>
        <span class = 'center'>
          <p><%= link_to image_tag('facebook.png'), "https://www.facebook.com/tom.depplito" %></p>
        </span>
        <span class = 'center'>
          <p><%= link_to image_tag('spotify.png'), "http://open.spotify.com/user/1240801365" %></p>
        </span>
      </div>
    </div>
  </div>
</div>
